<footer class="site-footer">
  
    <p style="text-align:center">
      &copy;&nbsp;2018 Shoaib Rayeen &nbsp; <br>
      <a href="https://github.com/shoaibrayeen" target="_blank">GitHub</a> &nbsp; ● &nbsp;
      <a href="https://www.facebook.com/ShoaibRayeen123" target="_blank">Facebook</a> &nbsp; ● &nbsp;
      <a href="https://www.linkedin.com/in/shoaibrayeen/" target="_blank">LinkedIn</a> &nbsp; ● &nbsp;
      <a href="https://twitter.com/Shoaibrayeen" target="_blank">Twitter</a> &nbsp; ● &nbsp;
      <a href="/doc/resume" target="_blank">Resume</a>
    </p>
</footer>
