<footer class="site-footer">
  
    <p style="text-align:center">
      &copy;&nbsp;2018 Shoaib Rayeen &nbsp; <br>
      <a href="https://www.facebook.com/ShoaibRayeen123" target="_blank">
        <img src="/images/fb.jpg" style="font-size:48px;"/>
      </a> &nbsp; ● &nbsp;
      <a href="https://www.instagram.com/shoaibrayeen/" target="_blank">
        <img src="/images/instagram.jpg" style="font-size:48px;"/>
      </a> &nbsp; ● &nbsp;
      <a href="https://www.linkedin.com/in/shoaibrayeen/" target="_blank">
        <img src="/images/ln.jpg" style="font-size:48px;"/>
      </a> &nbsp; ● &nbsp;
      <a href="https://twitter.com/Shoaibrayeen" target="_blank">
        <img src="/images/twitter.jpg" style="font-size:48px;"/>
      </a> &nbsp; ● &nbsp;
      <a href="/doc/resume" target="_blank">
        <img src="/images/resume.jpg" style="font-size:48px;"/>
      </a>
    </p>
</footer>
